<div class="comment">
  <div class="comment__title title">Комментарии</div>
  <div class="comment__form send">
    <textarea type="text" class="send__text" placeholder="Текст комментария"></textarea>
    <button class="send__submit btn">Отправить</button>
  </div>
  <div class="comment__item">
    <div class="user comment-user">
      <div class="user__inner">
        <img src="/static/images/me-logo.jpg" alt="userlogo" class="user__logo">
        <div class="user__info">
          <span class="user__name">Георгий</span>
          <span class="user__nick">@wonitanje</span>
          <time class="user__date" datetime="16.03.2021">16.03.2021</time>
        </div>
      </div>
    </div>
    <div class="comment__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, explicabo voluptatem odit expedita velit vitae error blanditiis quo vel voluptatum non ipsam repellat esse eligendi amet! Voluptatum fugit sit iusto!</div>
  </div>
  <div class="comment__item">
    <div class="user comment-user">
      <div class="user__inner">
        <img src="/static/images/me-logo.jpg" alt="userlogo" class="user__logo">
        <div class="user__info">
          <span class="user__name">Георгий</span>
          <span class="user__nick">@wonitanje</span>
          <time class="user__date" datetime="15.03.2021">15.03.2021</time>
        </div>
      </div>
    </div>
    <div class="comment__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
</div>