<section class="post-other">
  <h1 class="post-other__name title">Другие публикации</h1>
  <article class="post-other__list">
    <a href="/article/0" class="post-other__item">
      <h1 class="post-other__title">Выбираю ноутбук</h1>
      <time class="post-other__datetime" datetime="15.03.2021">15.03.2021</time>
    </a>
    <a href="/article/1" class="post-other__item">
      <h1 class="post-other__title">Как писать код быстро...</h1>
      <time class="post-other__datetime" datetime="01.03.2021">01.03.2021</time>
    </a>
    <a href="/article/1" class="post-other__item">
      <h1 class="post-other__title">Как писать код быстро...</h1>
      <time class="post-other__datetime" datetime="01.03.2021">01.03.2021</time>
    </a>
    <a href="/article/0" class="post-other__item">
      <h1 class="post-other__title">Выбираю ноутбук</h1>
      <time class="post-other__datetime" datetime="15.03.2021">15.03.2021</time>
    </a>
  </article>
</section>