<aside class="sidebar">
  <div class="sidebar__inner">
    <header class="sidebar__header">
      <img src="/static/images/sidebar-logo.jpg" alt="sidebar-header" class="sidebar__logo">
    </header>
    <div class="sidebar__content">
      <div class="me">
        <img src="/static/images/me-logo.jpg" alt="me-logo" class="me__logo">
        <p class="me__name">Георгий Павленко</p>
        <p class="me__condition">front-end разработчик</p>
        <ul class="social">
          <li class="social__item">
            <a href="https://twitter.com/wonitanje" class="social__link" target="_blank">
              <img src="/static/images/twitter.svg" alt="Twitter">
            </a>
          </li>
          <li class="social__item">
            <a href="https://vk.com/wonitanje" class="social__link" target="_blank">
              <img src="/static/images/vk.svg" alt="Vk">
            </a>
          </li>
          <li class="social__item">
            <a href="https://t.me/Dxeed" class="social__link" target="_blank">
              <img src="/static/images/telegram.png" alt="Telegram">
            </a>
          </li>
        </ul>
      </div>
      <p class="sidebar__text">Привет! Не так давно я начал двигаться в вебе. Скоро стану косаткой.</p>
      <nav class="nav sidebar-nav">
        <ul class="nav__inner">
          <li class="nav__item"><a class="nav__link" href="/">Главная</a></li>
          <li class="nav__item"><a class="nav__link" href="/article">Случайная статья</a></li>
          <li class="nav__item"><a class="nav__link" href="/about">Обо мне</a></li>
          <li class="nav__item"><a class="nav__link" href="/profile">Профиль</a></li>
          <li class="nav__item"><a class="nav__link" href="">Выйти</a></li>
        </ul>
      </nav>
      <div class="button-flex">
        <button class="button-flex__item btn">Мои работы</button>
        <button class="button-flex__item btn">Написать мне</button>
      </div>
    </div>
  </div>
</aside>