{% for post in feed %}
<article class="news">
  <header class="news__header">
    <img src="/static/images/news{{ post.idx }}.jpg" alt="" class="news__logo">
  </header>
  <main class="news__main">
    <ul class="news__tags tag">
      {% for tag in post.tags %}
        <li class="news__tag tag__item"><a href="/filter?{{ tag }}" class="tag__link">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    <h1 class="news__title">{{ post.title }}</h1>
    <p class="news__text">{{ post.description() }}</p>
  </main>
  <footer class="news__footer">
    <div class="l-side">
      <time class="news__date" datetime="{{ post.datetime }}">{{ post.datetime }}</time>
      <a href="/filter?type={{ post.type }}" class="news__type">
        {{ post.type }}
      </a>
    </div>
    <a href="/article/{{ post.idx }}" class="news__link">читать</a>
  </footer>
</article>
{% endfor %}
<!-- 
<article class="news">
  <header class="news__header">
    <img src="/static/images/news1.jpg" alt="" class="news__logo">
  </header>
  <main class="news__main">
    <h1 class="news__title">Как писать код быстро и безболезненно?</h1>
    <p class="news__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum volutpat orci turpis urna. Et vestibulum, posuere tortor lacinia sit. Sagittis porttitor orci auctor in at tincidunt arcu egestas. Fusce arcu sodales lacinia eu auctor nunc nam id. Diam sit sed volutpat massa. Egestas ornare vel volutpat.</p>
  </main>
  <footer class="news__footer">
    <div class="l-side">
      <time class="news__date" datetime="01.03.2021">01.03.2021</time>
      <p class="news__type">Lorem, ipsum.</p>
    </div>
    <a href="/article/1" class="news__link">читать</a>
  </footer>
</article> -->