.tag {
  margin: 0 0 3rem;
  display: flex;
  justify-content: flex-start;
  grid-gap: 15px;
  width: 100%;

  &__link {
    color: $white-alpha;
    cursor: pointer;
  }

  li {
    list-style: inside;

    &.li-green::marker {
      color: green;
    }
  
    &.li-blue::marker {
      color: $blue;
    }
  
    &.li-red::marker {
      color: $red;
    }
    &.li-grey::marker {
      color: $grey;
    }
  
    &.li-white::marker {
      color: $white;
    }
  
    &.li-orange::marker {
      color: $orange;
    }
    &.li-yellow::marker {
      color: $yellow;
    }
  
    &.li-pink::marker {
      color: $pink;
    }
  
    &.li-purple::marker {
      color: $purple;
    }
  }
}