<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.min.css">
    
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, 
    user-scalable=0">
    <!-- <meta name="robots" content="index, follow"> -->
    <!-- <meta name="google" content="notranslate"> -->
    <!-- <meta name="format-detection" content="telephone=no"> -->
    <meta name="description" content="">
    
    <title>Blog. About me</title>
</head>
<body>

  <div class="page">
    <aside class="sidebar">
      <div class="sidebar__inner">
        <header class="sidebar__header">
          <img src="/static/images/sidebar-logo.jpg" alt="sidebar-header" class="sidebar__logo">
        </header>
        <div class="sidebar__content">
          <div class="me">
            <img src="/static/images/me-logo.jpg" alt="me-logo" class="me__logo">
            <p class="me__name">Георгий Павленко</p>
            <p class="me__condition">front-end разработчик</p>
            <ul class="social">
              <li class="social__item">
                <a href="https://twitter.com/wonitanje" class="social__link" target="_blank">
                  <img src="/static/images/twitter.svg" alt="Twitter">
                </a>
              </li>
              <li class="social__item">
                <a href="https://vk.com/wonitanje" class="social__link" target="_blank">
                  <img src="/static/images/vk.svg" alt="Vk">
                </a>
              </li>
              <li class="social__item">
                <a href="https://t.me/Dxeed" class="social__link" target="_blank">
                  <img src="/static/images/telegram.png" alt="Telegram">
                </a>
              </li>
            </ul>
          </div>
          <p class="sidebar__text">Привет! Не так давно я начал двигаться в вебе. Скоро стану косаткой.</p>
          <nav class="nav sidebar-nav">
            <ul class="nav__inner">
              <li class="nav__item"><a class="nav__link" href="/">Главная</a></li>
              <li class="nav__item"><a class="nav__link" href="/article">Случайная статья</a></li>
              <li class="nav__item"><a class="nav__link" href="/about">Обо мне</a></li>
              <li class="nav__item"><a class="nav__link" href="/profile">Профиль</a></li>
              <li class="nav__item"><a class="nav__link" href="">Выйти</a></li>
            </ul>
          </nav>
          <div class="button-flex">
            <button class="button-flex__item btn">Мои работы</button>
            <button class="button-flex__item btn">Написать мне</button>
          </div>
        </div>
      </div>
    </aside>
    <div class="wrapper">
      <header class="header">
        <div class="header__inner">
          <nav class="header__menu"><span></span></nav>
          <nav class="nav">
            <ul class="nav__inner">
              <li class="nav__item"><a class="nav__link" href="/">Главная</a></li>
              <li class="nav__item"><a class="nav__link" data-random-link>Случайная статья</a></li>
              <li class="nav__item"><a class="nav__link" href="/about">Обо мне</a></li>
            </ul>
          </nav>
          <nav class="nav profile">
            <ul class="nav__inner">
              <li class="nav__item"><a class="nav__link" href="/profile">Профиль</a></li>
              <li class="nav__item"><a class="nav__link" href="" style="display: none;">Выйти</a></li>
            </ul>
          </nav>
          <input class="search" type="text" placeholder="Поиск по блогу">
        </div>
      </header>
      <main class="content">
          
      </main>

      <footer class="footer">
        <p class="copyright">&copy;wonitanje 2021</p>
      </footer>
      <button class="scroll-top"></button>
    </div>
  </div>

  <script src="/static/js/app.js"></script>
</body>
</html>
